<div class="boxy span5 offset4 text-center">
	
     <h1 class="custom-h1">My Web Development Journey</h1>
     
     <br />

     <h2>Turning my Ideas into Reality</h2>
     
     <br />

     <%= link_to 'Launch my App', pics_path, :class => 'btn btn-warning btn-large' %>

</div>